<form action="/spaces" method="post">
 <p> Enter space name :</p>
 <input type="text" name="name"> <br>
 <p> Enter address: </p>
 <input type="text" name="address"><br>
 <p> Enter postcode: </p>
 <input type="text" name="postcode"><br>
 <p> Enter price (£ pw): </p>
 <input type="text" name="price"><br>
 <p> Enter date (DD): </p>
 <input type="text" name="day"><br>
 <!-- <p> Enter Month (MM): </p> -->
 <!-- <input type="text" name="month"><br> -->
 <input type="submit" value="Post Property">
</form>
