<form action="/" method="post">
 <p> Enter space name :</p>
 <input type="text" name="name"> <br>
 <p> Enter address: </p>
 <input type="text" name="address"><br>
 <p> Enter postcode: </p>
 <input type="text" name="postcode"><br>
 <p> Enter price (£ pw): </p>
 <input type="text" name="price"><br>
 <input type="submit" value="Post property">
</form>
