<html>
  <head>
   <title>MakersBnB</title>
   <link rel="stylesheet" type="text/css" href="stylesheet.css"/>
  </head>
  <body>
    <h2> Welcome to MakersBnB </h2>
    <section>
      <h3> Sign up here </h3>
      <form id="sign_up" action="/" method="post">
        <p> E-mail :</p>
        <input type="text" name="email"> <br>
        <p> Password: </p>
        <input type="text" name="password"><br>
        <p> Password Confirmation: </p>
        <input type="text" name="password_confirmation"><br>
        <input type="submit" value="Create account">
    </form>
    </section>
  </body>
</html>
