<html>
  <head>
   <title>MakersBnB</title>
   <!-- <link rel="stylesheet" type="text/css" href="app/views/main.css"/> -->
   <style>

   /*#sign_up {
    display: inline-block;
   }

   #log_in {
     display: inline-block;
     margin-left: 2cm;
   }*/

   /*form {
     margin: auto;
     text-align: right;
   }*/


   </style>
  </head>
  <body >
    <h2> <center> Welcome to MakersBnB </h2>
    <section id="sign_up"> <center>
      <h3> <u> Sign up here </u> </h3>
      <form action="/users" method="post">
        <center>
        E-mail: <input type="text" name="email_signup"> <br>
        Password: <input type="password" name="password_signup"><br>
        Password Confirmation: <input type="password" name="password_confirmation"><br>
        <input type="submit" value="Create account">
    </form>
    </section>
    <section id="log_in"> <center>
      <h3> <u> Log in here </u> </h3>
      <form action="/sessions" method="post">
        <center>
        E-mail: <input type="text" name="email"> <br>
        Password: <input type="password" name="password"><br>
        <input type="submit" value="Log in">
    </form>
    </section>
    <% if flash[:errors] && !flash[:errors].empty? %>
      Please refer to the following errors below:
      <ul id='errors'>
        <% flash[:errors].each do |error| %>
      <li><%= error %></li>
      <% end %>
    </ul>
    <% end %>
  </body>


</html>
