<html>
  <head>
   <title>MakersBnB</title>
   <link rel="stylesheet" type="text/css" href="stylesheet.css"/>
  </head>
  <body>
    <section>
      <h3> Sign up to MakersBnB </h3>
    <form id="sign_up">
      <input id="city" type="text" placeholder="Enter a city"> </input>
      <input type="submit" name="Enter city"></input>
    </form>
    </section>
  </body>



</html>
