<html>
  <head>
   <title>MakersBnB</title>
   <!-- <link rel="stylesheet" type="text/css" href="app/views/main.css"/> -->
   <style>

   #log_in {
     margin-left: 5cm;
     margin-top: 5cm;
   }

   </style>
  </head>
  <body>
    <h2> Welcome to MakersBnB </h2>
    <section id="sign_up">
      <h3> Sign up here </h3>
      <form action="/" method="post">
        <p> E-mail :</p>
        <input type="text" name="email"> <br>
        <p> Password: </p>
        <input type="text" name="password"><br>
        <p> Password Confirmation: </p>
        <input type="text" name="password_confirmation"><br>
        <input type="submit" value="Create account">
    </form>
    </section>
    <section id="log_in" type="text/css">
      <h3> Log in here </h3>
      <form action="/" method="post">
        <p> E-mail :</p>
        <input type="text" name="email"> <br>
        <p> Password: </p>
        <input type="text" name="password"><br>
        <input type="submit" value="Log in">
    </form>
    </section>
  </body>


</html>
