<!DOCTYPE html>
<html>
  <head>
    <title>MakersBnB</title>
  </head>

  <body>
    <% if @current_user %>
      Succesful login,  <%= @current_user.email %>
      <form method='post' action='/sessions'>
        <input type='hidden' name='_method' value='delete'>
        <input type='submit' value='Log out'>
      </form>

    <% end %>
    <% if flash[:notice] %>
      <div id='notice'>
        <%= flash[:notice] %>
      </div>
    <% end %>

    <div id='booking'>

    <% if Booking.all.space.map(&:owner).include? @thiscurrentemail %>
    No request were made on your spaces
    <% end %>

    <%= Booking.all.space %>
  </div>


    <%= yield %>
  </body>
</html>
